body{
    background-image: url("https://i.pinimg.com/originals/71/48/62/7148625dbbbc8b1e703ca9ab9b0beb65.jpg");
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: auto;
}

legend{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

h1 {
    font-size: 8cap;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
}

.recipes ul{
    font-size: 21px; 
    padding: 0;
    margin: 2px 2px 0 0;
    text-align: center;
}

.recipes li a{
    display: inline;
    color: black;
    line-height: 3cap;
}