body{
    margin: 0 auto;
    align-content: center;
    height: 100%;
    background-color: #fffdd0;   
}

h1 {
    font-size: 50px;
    padding-bottom: 2%;
}

h2 {
    padding: 2%;
    font-size: 40px;
}

h3{
    padding-top: 2%;
    font-size: 30px;
}

.container section[id="Picture representing final product"] p {
    margin: 0 auto;
    width: 50px;
    font-weight: 500;
    font-size: auto;
    padding: 20px;
    min-width: 13em;
    height: auto;
    justify-content: left;
    text-align: justify;
    background-color: white;
}

.container section[id="Picture representing final product"]{ 
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    max-height: fit-content;
    margin: 0 0 auto 15%;
    outline: 2px solid black;
}

figure{
    padding: 0 10px 0 10px;
    text-align: center;
    margin: auto;
}

figure figcaption {
    text-align: center;
}

h1, h2, h3, p, ol li, ul li {
    margin: 0 auto;
    width: 70%;
}



li strong{
    font-size: 25px;
}

p, ul li, ol li{
    line-height: 34px;
    text-align: justify;
    font-size: 23px;
}


