body{
    margin: 0 auto;
    align-content: center;
    height: 100%;
    background-color: #fffdd0;   
}

h1 {
    font-size: 50px;
    padding-bottom: 2%;
}

h3{
    padding-top: 2%;
    font-size: 30px;
}

h1,h3{
    margin-left: 2%;
}

.container{ 
    max-width: max-content;
    margin: 0 0 0 15%;
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid black;
}

@media only screen and (min-width: 50px) {
    .container {
        max-width: fit-content;
    }
}

figure{
    text-align: center;
    margin: 0 auto;
}

figure figcaption {
    text-align: center;
}

p {
    margin: 0 auto;
    width: 40px;
    font-weight: 500;
    font-size: 25px;
    padding: 20px;
    min-width: 13em;
    height: 11.5em;
    justify-content: left;
    text-align: justify;
    background-color: white;
}

h1, h3, ol li, ul li {
    margin: 0 auto;
    width: 70%;
}

li strong{
    font-size: 25px;
}

ul li, ol li{
    line-height: 34px;
    text-align: justify;
    font-size: 23px;
}


